// Import Bootstrap Compass integration
@import "bootstrap-compass";
// Import custom Bootstrap variables
@import "bootstrap-variables";
// Import Bootstrap for Sass
@import "bootstrap";
@import "mixins";

@mixin shadow(){
  box-shadow: 5px 5px 20px #888888;
}

html, body,  {
  margin: 0;
  padding: 0;
  height: 100%;
}


body {
  margin: 0;
  background-color: $gray-lighter;
}

.container-main {
  background-color: white;
  @include shadow();
  height: auto !important; /* real browsers */
  min-height: 100%;
}

.splash {
  text-align: center;
  margin: 10%;
  padding: 20px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 6px;
  
  @include shadow();
  
  .message {
    font-size: 72px;
    line-height: 72px;
    text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
    text-transform: uppercase;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    .fa-spinner {
        text-align: center;
        display: inline-block;
        font-size: 72px;
        margin-top: 50px;
    }
}

.tags {
  .tag {
    padding: 3px;
    margin: 3px;
    cursor: pointer;
  }
}

pre {
  padding: 0;
  background: transparent;
  border: none;
}

.post-summary {
  @include shadow();
  padding: 6px;
  margin: 6px 6px 18px 6px;
  cursor: pointer;
}

.navbar-default {
  background-color: lighten($brand-primary, 40%);
  border-color: lighten($brand-primary, 25%);
  
  .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    background-color: lighten($brand-primary, 30%);
    border-color: lighten($brand-primary, 15%);
  }
}

.tag-list {
  display: none;
  .active {
    font-weight: bold;
  }
}

@media (min-width: 992px) {
  .navbar-collapse {
    height: auto;
    border-top: 0;
    box-shadow: none;
    max-height: none;
    padding-left:0;
    padding-right:0;
  }
  .navbar-collapse.collapse {
    display: block !important;
    width: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-x: visible;
  }

  .navbar {
    max-width:300px;
    margin-right: 0;
    margin-left: 0;
  }	

  .tag-list {
    display: inherit;
  }
  
  .navbar-nav,
  .navbar-nav > li,
  .navbar-left,
  .navbar-right,
  .navbar-header
  {float:none !important;}

  .navbar-right .dropdown-menu {
    left:0;right:auto;
  }
  .navbar-collapse .navbar-nav.navbar-right:last-child {
      margin-right: 0;
  }
}

section {
  margin: 0 20px;
}

.navbar-nav li.loader {
  margin: 12px 24px 0 6px;
}

.pictureDetail {
  max-width: 425px;
}

/* animate page transitions */
section.au-enter-active {
  -webkit-animation: fadeInRight 1s;
  animation: fadeInRight 1s;
}

div.au-stagger {
  /* 50ms will be applied between each successive enter operation */
  -webkit-animation-delay: 50ms;
  animation-delay: 50ms;
}

.post-link {
  padding-left: 20px;
}

@include keyframes('fadeIn'){
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}